/*

orange:  #CC5505
blue:    #057CCC
red:     #CC0519
yellow:  #CCB905
green:   #05CC55

*/

.hidden {
  visibility: hidden;
}

.gone {
  display: none;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Open Sans', sans-serif;
  color: white;
  background-color: #333;
  font-size: 2.2vh;
  position: relative;
  height: 100vh;
  width: 100%;
}

a, a:hover, a:focus, a:visited {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

button, button:hover, button:focus {
  cursor: pointer;
  border: 0 !important;
  outline: 0 !important;
  color: inherit;
  background-color: transparent;
  padding: 0 !important;
  border-radius: 100vh;
  font-family: 'Russo One', sans-serif;
  -webkit-transition: opacity 0.5s ease, width 0.5s ease, margin-left 0.5s ease, color 0.5s ease, background-color 0.5s ease !important;
  -moz-transition: opacity 0.5s ease, width 0.5s ease, margin-left 0.5s ease, color 0.5s ease, background-color 0.5s ease !important;
  transition: opacity 0.5s ease, width 0.5s ease, margin-left 0.5s ease, color 0.5s ease, background-color 0.5s ease !important;
}

select, select:hover, select:focus {
  border: 0;
  outline: 0;
  cursor: pointer;
}

input {
  border: 0;
  outline: 0;
  color: inherit;
}

select, input {
  font-family: 'Open Sans', sans-serif !important;
}

.jconfirm.jconfirm-supervan .jconfirm-box div.jconfirm-content-pane span {
  font-size: 1.7vh;
  line-height: 1.3;
  display: inline-block;
}

.loader {
  width: 15vh;
  height: 15vh;
  position: absolute;
  border: 1.5vh solid white;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  animation: loader 2s infinite ease;
  opacity: 0;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  animation: loader-inner 2s infinite ease-in;
  background-color: #CC5505;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

::-webkit-input-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

.login-screen {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #CC5505;
  color: #333;
  text-align: center;
}

.login-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../img/flag.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.1;
}

.login-logo {
  position: absolute;
  top: 15vh;
  right: 0;
  left: 0;
  width: 13vh;
  height: 13vh;
  margin: auto;
  background: url('../img/logo.svg') no-repeat;
  background-size: 100% auto;
}

.login-title {
  position: absolute;
  top: 30vh;
  width: 100%;
  color: white;
  font-family: 'Russo One', sans-serif;
  font-size: 4vh;
}

#login-form {
  margin-top: 45vh;
}

#login-form input {
  font-size: 3vh !important;
  line-height: 7vh;
  width: 100%;
  margin-bottom: 5vh;
  text-align: center;
  background-color: white;
}

#login-form button {
  font-size: 3vh !important;
  line-height: 7vh;
  width: 100%;
  margin-top: 4vh;
  color: white;
  background-color: #333;
}

#login-form button:hover {
  color: #333;
  background-color: white;
}

header {
  width: 100%;
  height: 8vh;
  background-color: #CC5505;
  font-family: 'Russo One', sans-serif;
  font-size: 3vh;
  line-height: 8vh;
  position: fixed;
  -webkit-box-shadow: 0 0 3vh 0.5vh black;
  -moz-box-shadow: 0 0 3vh 0.5vh black;
  box-shadow: 0 0 3vh 0.5vh black;
  z-index: 1000;
  color: black;
  opacity: 0;
}

.navbar {
  padding: 0;
  -webkit-box-shadow: 0 0.5vh 3vh black;
  -moz-box-shadow: 0 0.5vh 3vh black;
  box-shadow: 0 0.5vh 3vh black;
}

.navbar-brand {
  position: absolute;
  width: 10vh;
  height: 10vh;
  left: calc(9.722222% - 4.5vh);
  top: 1vh;
  border-radius: 100vh;
  -webkit-box-shadow: 0 1vh 3vh black;
  -moz-box-shadow: 0 1vh 3vh black;
  box-shadow: 0 1vh 3vh black;
  z-index: 1001;
  background: url('../img/logo.svg') no-repeat;
  background-size: cover;
}

.mobile-navi-helper {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 8vh;
  font-size: 4vh;
  opacity: 0;
}

.mnh-1 {
  opacity: 1;
}

.navbar-toggler {
  width: 10vh;
  height: 8vh;
  right: 0;
  line-height: 8vh;
  font-size: 4vh;
}

.nav-link {
  text-align: center;
  padding: 0 5vh !important;
  cursor: pointer;
  min-width: 20vw;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.navbar-nav>.active, .navbar-nav>li:hover {
  color: white;
}

#main-content {
  height: 100vh;
  position: relative;
  padding-top: 8vh;
  opacity: 0;
}

#switchbox {
  height: 100%;
  overflow-y: auto;
  position: relative;
}

#statsparams {
  line-height: 8vh;
  width: calc(100% - 1vh);
}

#statstitle {
  font-family: 'Russo One', sans-serif;
  font-size: 3vh;
  line-height: 7vh;
  text-align: center;
  padding-top: 7vh;
}

#statsdata {
  -webkit-transition: opacity .5s ease;
  -moz-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

.offices-picker {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(68, 68, 68, 0.95);
  z-index: 2000;
  opacity: 0;
  padding: 10vh;
  text-align: center;
  -webkit-transition: opacity .4s cubic-bezier(0.36, 0.55, 0.19, 1);
  -moz-transition: opacity .4s cubic-bezier(0.36, 0.55, 0.19, 1);
  transition: opacity .4s cubic-bezier(0.36, 0.55, 0.19, 1);
}

.offices-picker button {
  font-family: 'Russo One', sans-serif;
  font-size: 3vh;
  line-height: 7vh;
  border-radius: 100vh;
  background: #333;
  text-shadow: none;
  border: 0;
  color: white;
  min-width: 100px;
  margin: 35px 0;
  padding: 0 35px !important;
  display: inline-block;
}

.offices-picker button:hover {
  background: white;
  color: #333;
}

.offices-picker-list {
  height: calc(80vh - 14vh - 4*35px);
  overflow-y: scroll;
  border-top: 1px solid #CC5505;
  border-bottom: 1px solid #CC5505;
  padding: 1vh;
}

.offices-picker-list>div {
  padding: 1vh;
}

.offices-picker-list>div>div {
  line-height: 6vh;
  background-color: #333;
  border-radius: 100vh;
  -webkit-transition: color 0.5s ease, background-color 0.5s ease;
  -moz-transition: color 0.5s ease, background-color 0.5s ease;
  transition: color 0.5s ease, background-color 0.5s ease;
}

.offices-picker-all:hover, .offices-picker-list>div>div:hover {
  background-color: #666 !important;
  color: white !important;
  cursor: pointer;
}

.offices-picker-all.checked, .offices-picker-list>div>.checked {
  background-color: white;
  color: #333;
}

#chart {
  height: 60vh;
  margin-top: 5vh;
  position: relative;
}

#chart-inner {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 80%;
}

#stats {
  height: 63vh;
  margin-top: 5vh;
  padding-top: 3vh;
  padding-right: 20vh;
}

.stat {
  height: 7vh !important;
  line-height: 7vh !important;
}

.stat-toc {
  overflow: hidden;
}

.stat-num {
  font-family: 'Russo One', sans-serif;
  font-size: 3vh;
  height: 7vh;
  background-color: #333;
  position: absolute;
  top: 0;
  right: 0;
}

.stat-num, .stat-desc {
  padding-left: 1vh !important;
  text-align: end;
}

.stat-white {
  color: white;
}

.stat-red {
  color: #CC0519;
}

.stat-blue {
  color: #057CCC;
}

.stat-yellow {
  color: #CCB905;
}

.stat-green {
  color: #05CC55;
}

.stat-darkgreen {
  color: #037F35;
}

.stat-orange {
  color: #CC5505;
}

#searchbar {
  height: 8vh;
  line-height: 8vh;
  width: calc(100% - 1vh);
  position: relative;
}

#mobile-buttons-container {
  width: 100%;
  position: absolute;
  top: 0;
}

#searchbar .col-1, #mobile-search-button-container, #mobile-refresh-clear-button-container {
  padding: 1vh 0 0 1vh;
}

#mobile-refresh-clear-button-container>.shrunken {
  margin-left: 50%;
  width: 50% !important;
}

#search-criteria, #two-buttons {
  position: absolute;
  top: 0;
  overflow: hidden;
  -webkit-transition: width 1s ease, opacity 0.5s ease;
  -moz-transition: width 1s ease, opacity 0.5s ease;
  transition: width 1s ease, opacity 0.5s ease;
}

#search-criteria {
  right: 8.333333%;
}

#two-buttons {
  left: 0;
}

#search-criteria {
  width: 0;
  opacity: 0;
}

#search-button-container {
  position: absolute;
  top: 0;
  right: 0;
}

#searchbar .col-ninth, #searchbar .col-outertwelvth, #searchbar .col-outertwelvthhalf, #searchbar .col-tenoutertwelvths, #statsparams>div {
  padding: 1vh 0 0 1vh;
  height: 100%;
  width: 10.606060%;
  float: left;
}

#searchbar .col-ninth-double {
  width: 21.212120%;
}

#clear-searchboxes {
  overflow: hidden;
}

#mobile-searchboxes.show {
  width: 100%;
  display: inherit;
}

#mobile-searchboxes>div {
  padding: 1vh 0.5vh 0 1.5vh;
}

#searchbar .col-outertwelvth {
  width: 9.090909%;
  float: right;
}

#searchbar .col-outertwelvthhalf {
  width: 4.545454%;
}

#searchbar input, #searchbar select, #statsparams input {
  width: 100%;
  height: 7vh;
  text-align: center;
  background-color: #444;
}

#searchbar select {
  color: #888;
  padding-left: 1vh;
}

#searchbar select>option, .expansion select>option {
  color: white;
}

#searchbar select>option:first-child, .expansion select>option:first-child {
  color: #888;
}

#searchbar button, .expansion button, #profile-content button, #statsparams button {
  width: 100%;
  height: 7vh;
  border-radius: 100vh;
  background-color: #CC5505;
  font-size: 2.7vh;
  line-height: 7.3vh;
  margin-top: 0.75vh;
}

#searchbar button:hover, .expansion button:hover, #profile-content button:hover, #statsparams button:hover {
  background-color: white;
  color: #333;
}

#table {
  min-height: 77vh;
  line-height: 7vh;
  border-bottom: 1px solid #CC5505;
}

#pagination {
  height: calc(7vh - 2px);
  line-height: calc(7vh - 2px);
}

#table-header {
  color: #CC5505;
  border-bottom: 1px solid #CC5505;
  font-weight: 700;
}

#table-header, .table-row {
  height: 7vh;
}

.table-row {
  cursor: pointer;
  -webkit-transition: color 0.5s ease, background-color 0.5s ease, margin-top 0.5s ease;
  -moz-transition: color 0.5s ease, background-color 0.5s ease, margin-top 0.5s ease;
  transition: color 0.5s ease, background-color 0.5s ease, margin-top 0.5s ease;
}

.table-row .fa, .expansion .fa {
  font-size: 115% !important;
  line-height: 7vh;
}

#table-header>div, .table-row>div {
  padding: 0 2vh;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.table-row:nth-child(4n+2), .expansion>div {
  background-color: #444;
}

.table-row:nth-child(4n+4) {
  background-color: #393939;
}

#table .expanded {
  color: #333;
  background-color: white;
  margin-top: 7vh;
}

.expansion {
  position: relative;
}

.expansion>div {
  margin: 0 0 7vh 7vh;
  padding: 3vh 5vh 1.5vh 5vh;
}

.table-row>div:nth-last-child(1), .table-row>div:nth-last-child(2), #table-header>div:nth-last-child(1), #table-header>div:nth-last-child(2) {
  text-align: center;
}

.table-row>div:nth-last-child(1), .table-row>div:nth-last-child(2), #table-header>div>i {
  font-size: 2.7vh;
}

.status-1, .response-1 {
  color: #057CCC !important;
}

.status-2, .response-2 {
  color: #CCB905 !important;
}

.status-3, .response-3 {
  color: #05CC55 !important;
}

.response-4 {
  color: #CC0519 !important;
}

.expansion-info, .expansion-response {
  line-height: 4vh;
}

.expansion-label {
  font-weight: 700;
  color: #CC5505;
}

.expansion-info-data {
  padding-left: 5vh;
  margin-bottom: 2vh;
}

.expansion-response>.divtextarea, .expansion-response>.divtextarea:hover, .expansion-response>.divtextarea:focus {
  color: white !important;
  width: 100%;
  max-height: 70vh;
  overflow-y: auto;
  resize: none;
  display: inline-block;
  padding: 1.5vh 2vh;
  line-height: 1.5;
  overflow-wrap: break-word;
  background-color: #393939;
  border: 1px solid transparent;
  outline: 0;
  margin: 1.5vh 0;
  min-height: 7vh;
  transition: border-color .5s ease;
}

.dirty {
  border: 1px solid #CC5505 !important;
}

#forward-select-container {
  margin: 1.5vh 0;
  padding-right: 1vh;
}

.expansion-response select {
  line-height: 7vh;
  height: 7vh;
  width: 100%;
  background-color: #393939;
  color: #888;
  padding-left: 1vh;
}

.expansion-response button {
  margin: 1.5vh 0;
}

#forward-button-container, #send-button-container, #save-button-container, #check-button-container {
  min-height: 10vh;
}

#check-button-container button {
  background-color: #05CC55;
}

#check-button-container button:hover {
  background-color: white;
}

#change-password-container {
  height: 7vh;
  position: relative;
  margin-bottom: 5vh;
}

#forward-button-container .loader, #send-button-container .loader, #save-button-container .loader, #check-button-container .loader, #change-password-container .loader {
  height: 7vh;
  width: 7vh;
  border-width: 0.75vh;
}

#print-title {
  text-align: center;
  border-radius: 0;
  line-height: 7vh;
  width: 100%;
  color: #333;
}

#search-criteria img, #statsparams img {
  position: absolute;
  height: 1px;
  width: 1px;
}

#pagination {
  position: relative;
  color: #CC5505;
}

#pagination>div {
  position: absolute;
  top: 1vh;
  left: 0;
  right: 0;
  margin: auto;
  width: 34vh;
  height: 5vh;
}

#pagination>div>div {
  height: 100%;
  margin-left: 1vh;
  width: 5vh;
  float: left;
  cursor: pointer;
  position: relative;
}

#pagination>div>div:hover {
  background-color: #444;
}

#pagination>div>div:first-child {
  margin-left: 0;
}

#pagination>div>div:nth-child(3) {
  width: 10vh;
}

#pagination i {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 5vh;
  font-size: 4vh;
  text-align: center;
}

#pagination select {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding-left: 1vh;
  color: #CC5505;
  background-color: #444;
  font-weight: bold;
  font-size: 2.4vh;
}

.pagination-disabled, .pagination-disabled select {
  color: #444 !important;
}

.pagination-disabled:hover {
  background-color: transparent !important;
  cursor: default !important;
}

.pagination-disabled select:hover {
  cursor: default !important;
}

#profile-content {
  padding-top: 45vh;
}

#profile-picture {
  position: absolute;
  top: 13vh;
  left: 0;
  right: 0;
  margin: auto;
  height: 13vh;
  width: 13vh;
  text-align: center;
  line-height: 13vh;
  font-size: 13vh;
}

#profile-name {
  position: absolute;
  top: 28vh;
  width: 100%;
  text-align: center;
  font-family: 'Russo One', sans-serif;
  font-size: 4vh;
}

#profile-position {
  position: absolute;
  top: 34.5vh;
  width: 100%;
  text-align: center;
  font-weight: 700;
}

#new-password {
  width: 100%;
  height: 7vh;
  line-height: 7vh;
  font-size: 3vh !important;
  text-align: center;
  background-color: #444;
  margin-bottom: 5vh;
}

#change-password-button {
  margin-top: 0 !important;
}

#logout-button {
  margin-top: 4vh !important;
}

/* print button disabled look, delete later */
#print, #print:hover {
    background-color: #444 !important;
    color: #888 !important;
}

@media (max-width: 991.5px) {
  .hidden-md-down {
    display: none;
  }
  .navbar-collapse {
    margin-top: 8vh;
    background-color: #CC5505;
    -webkit-box-shadow: inset 0 3vh 3vh -2.5vh black;
    -moz-box-shadow: inset 0 3vh 3vh -2.5vh black;
    box-shadow: inset 0 3vh 3vh -2.5vh black;
  }
  #chart {
    height: 35vh;
    margin-top: 5vh;
  }
  #chart-inner {
    top: 17.5%;
    height: 65%;
  }
  #stats {
    padding: 5vh;
  }
  #searchbar:first-child {
    display: none;
  }
  #searchbar {
    height: auto;
    padding-top: 9vh;
  }
  .jconfirm .jconfirm-box .jconfirm-buttons button.btn-white-prm {
    background-color: white;
    color: #333
  }
  .jconfirm .jconfirm-box .jconfirm-buttons button.btn-orange-prm {
    background-color: #CC5505;
    color: white
  }
  .jconfirm .jconfirm-box .jconfirm-buttons button.btn-blue-prm {
    background-color: #057CCC;
    color: white
  }
  .jconfirm .jconfirm-box .jconfirm-buttons button.btn-red-prm {
    background-color: #CC0519;
    color: white
  }
  .jconfirm .jconfirm-box .jconfirm-buttons button.btn-yellow-prm {
    background-color: #CCB905;
    color: white
  }
  .jconfirm .jconfirm-box .jconfirm-buttons button.btn-green-prm {
    background-color: #05CC55;
    color: white
  }
}

@media (min-width: 767.5px) {
  .expansion-info {
    padding-right: 4vh !important;
  }
}

@media (max-width: 767.5px) {
  .hidden-sm-down {
    display: none;
  }
  #forward-select-container {
    padding-right: 0;
  }
}

@media (min-width: 1px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    padding-right: 0;
    padding-left: 0;
  }
  .row {
    margin-right: 0;
    margin-left: 0;
  }
}