/*

orange:  #CC5505
blue:    #057CCC
red:     #CC0519
yellow:  #CCB905
green:   #05CC55

*/

.hidden {
  visibility: hidden;
}

.gone {
  display: none;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Open Sans', sans-serif;
  color: white;
  background-color: #333;
  font-size: 2.5vh;
  position: relative;
  height: 100vh;
  width: 100%;
}

a, a:hover, a:focus, a:visited {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

button, button:hover, button:focus {
  cursor: pointer;
  border: 0 !important;
  outline: 0 !important;
  color: inherit;
  background-color: transparent;
  padding: 0 !important;
  border-radius: 100vh;
  font-family: 'Russo One', sans-serif;
  -webkit-transition: color 0.5s ease, background-color 0.5s ease !important;
  -moz-transition: color 0.5s ease, background-color 0.5s ease !important;
  transition: color 0.5s ease, background-color 0.5s ease !important;
}

select, select:hover, select:focus {
  border: 0;
  outline: 0;
  cursor: pointer;
}

input {
  border: 0;
  outline: 0;
  color: inherit;
}

.loader {
  width: 15vh;
  height: 15vh;
  position: absolute;
  border: 1.5vh solid white;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  animation: loader 2s infinite ease;
  opacity: 0;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  animation: loader-inner 2s infinite ease-in;
  background-color: #CC5505;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

.login-screen {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #CC5505;
  color: #333;
  text-align: center;
}

.login-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../img/flag.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.1;
}

.login-logo {
  position: absolute;
  top: 15vh;
  right: 0;
  left: 0;
  width: 13vh;
  height: 13vh;
  margin: auto;
  background: url('../img/logo.svg') no-repeat;
  background-size: 100% auto;
}

.login-title {
  position: absolute;
  top: 30vh;
  width: 100%;
  color: white;
  font-family: 'Russo One', sans-serif;
  font-size: 4vh;
}

#login-form {
  margin-top: 45vh;
}

#login-form input {
  font-size: 3vh !important;
  line-height: 7vh;
  width: 100%;
  margin-bottom: 5vh;
  text-align: center;
  background-color: white;
}

#login-form button {
  font-size: 3vh !important;
  line-height: 7vh;
  width: 100%;
  margin-top: 4vh;
  color: white;
  background-color: #333;
}

#login-form button:hover {
  color: #333;
  background-color: white;
}

header {
  width: 100%;
  height: 8vh;
  background-color: #CC5505;
  font-family: 'Russo One', sans-serif;
  font-size: 3vh;
  line-height: 8vh;
  position: fixed;
  -webkit-box-shadow: 0 0 3vh 0.5vh black;
  -moz-box-shadow: 0 0 3vh 0.5vh black;
  box-shadow: 0 0 3vh 0.5vh black;
  z-index: 1000;
  color: black;
}

.navbar {
  padding: 0;
  -webkit-box-shadow: 0 0.5vh 3vh black;
  -moz-box-shadow: 0 0.5vh 3vh black;
  box-shadow: 0 0.5vh 3vh black;
}

.navbar-brand {
  position: absolute;
  width: 10vh;
  height: 10vh;
  left: 5%;
  top: 1vh;
  border-radius: 100vh;
  -webkit-box-shadow: 0 1vh 3vh black;
  -moz-box-shadow: 0 1vh 3vh black;
  box-shadow: 0 1vh 3vh black;
  z-index: 1001;
  background: url('../img/logo.svg') no-repeat;
  background-size: cover;
}

.mobile-navi-helper {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 8vh;
  font-size: 4vh;
  opacity: 0;
}

.mnh-1 {
  opacity: 1;
}

.navbar-toggler {
  width: 10vh;
  height: 8vh;
  right: 0;
  line-height: 8vh;
  font-size: 4vh;
}

.nav-link {
  text-align: center;
  padding: 0 5vh !important;
  cursor: pointer;
  min-width: 20vw;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.navbar-nav>.active, .navbar-nav>li:hover {
  color: white;
}

#main-content {
  min-height: 92vh;
  position: relative;
  padding-top: 8vh;
}

@media (max-width: 991.5px) {
  .navbar-collapse {
    margin-top: 8vh;
    background-color: #CC5505;
    -webkit-box-shadow: inset 0 3vh 3vh -2.5vh black;
    -moz-box-shadow: inset 0 3vh 3vh -2.5vh black;
    box-shadow: inset 0 3vh 3vh -2.5vh black;
  }
  .jconfirm .jconfirm-box .jconfirm-buttons button.btn-white-prm {
    background-color: white;
    color: #333
  }
  .jconfirm .jconfirm-box .jconfirm-buttons button.btn-orange-prm {
    background-color: #CC5505;
    color: white
  }
  .jconfirm .jconfirm-box .jconfirm-buttons button.btn-blue-prm {
    background-color: #057CCC;
    color: white
  }
  .jconfirm .jconfirm-box .jconfirm-buttons button.btn-red-prm {
    background-color: #CC0519;
    color: white
  }
  .jconfirm .jconfirm-box .jconfirm-buttons button.btn-yellow-prm {
    background-color: #CCB905;
    color: white
  }
  .jconfirm .jconfirm-box .jconfirm-buttons button.btn-green-prm {
    background-color: #05CC55;
    color: white
  }
}

@media (min-width: 1px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    padding-right: 0;
    padding-left: 0;
  }
  .row {
    margin-right: 0;
    margin-left: 0;
  }
}
